.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.layout > * {
  max-width: 576px;
  width: 100%;
  border-radius: 16px;
  border: 1px solid #000000;
}
