.main {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  text-align: center;
}

.main > * {
  text-align: center;
}

.city {
  font-size: var(--medium24);
  color: var(--black);
}

.clockWin {
  color: var(--green-600);
  font-size: var(--medium);
}

.clockLoss {
  color: var(--red-600);
  font-size: var(--medium);
}

.cityContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
